@page "/register"

<PageTitle>Registration</PageTitle>

<h3>RegisterUser</h3>

<EditForm Model="_user" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="email">Email</label>
        <InputText id="email" @bind-Value="_user.Email"/>
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="_user.Password" type="password"/>
    </div>
    <div class="mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" @bind-Value="_user.PasswordConfirm" type="password"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <ValidationSummary />
</EditForm>

@code
{
    
    UserRegister _user = new UserRegister();
    
    async Task HandleSubmit()
    {
        Console.WriteLine($"{_user.Email} Registered");
    }
}

